repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: check-builtin-literals
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
      - id: check-docstring-first